- var feat = "{{ctrl.char.feature[0]}}";
- var race = "{{ctrl.char.sub || ctrl.char.race}}";
- var key = "{{key}}";
- var s = "\t";
.panel.panel-primary
	.panel-heading
		span.h3 Welcome to the 5th Edition Character Quick-Gen!
	.panel-body
		.panel-body
			form(ng-submit="ctrl.regenerate(ctrl.selectionBg, ctrl.selectionRa, ctrl.selectionCl)")
				label Choose a Background:
				|!{s}
				select.form-control(ng-options="background for background in ctrl.backgrounds" ng-model="ctrl.selectionBg")
				|!{s}
				label Choose a Race:
				|!{s}
				select.form-control(ng-options="race for race in ctrl.races" ng-model="ctrl.selectionRa")
				|!{s}
				label Choose a Class:
				|!{s}
				select.form-control(ng-options="class for class in ctrl.classes" ng-model="ctrl.selectionCl")
				|!{s}
				button.btn.btn-success(type='submit') Generate
		//- Left Side
		.col-md-6.col-sm-12.col-xs-12.pull-left
			//- Background panel
			.panel.panel-primary
				.panel-heading
					label Background
				.panel-body
					dl.dl-horizontal
						dt Upbringinging:
						dd {{ctrl.char.background}}
						dt Feature:
						dd
							button.btn.btn-xs.btn-default(type="button" data-toggle="collapse" data-target="#bgFeatureText").
								#[strong !{feat}] -  Click for Details
							#bgFeatureText.collapse {{ctrl.char.feature[1]}}
						div(ng-if="ctrl.background.extra")
							dt {{ctrl.char.specialty[0]}}:
							dd {{ctrl.char.specialty[1]}}
						dt Personality Trait:
						dd {{ctrl.char.trait}}
						dt Ideal:
						dd
							strong {{ctrl.char.ideal[0]}}!{s}
							|{{ctrl.char.ideal[1]}}!{s}
							em ({{ctrl.char.ideal[2]}})
						dt Bond:
						dd {{ctrl.char.bond}}
						dt Flaw:
						dd {{ctrl.char.flaw}}
		//- Right Side
		.col-md-6.col-sm-12.col-xs-12.pull-right
			//- General panel
			.panel.panel-primary
				.panel-heading
					label Character
				.panel-body
					dl.dl-horizontal
						dt Name:
						dd {{ctrl.char.name}}
						dt Gender:
						dd {{ctrl.char.gender}}
						dt Race:
						dd
							button.btn.btn-xs.btn-default(class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#raFeatureText").
								#[strong !{race}] - Click for Details
							#raFeatureText.collapse {{ctrl.char.radesc}}
						dt Class:
						dd {{ctrl.char.class}}
						dt Speed:
						dd {{ctrl.char.speed}} ft/round
						dt Age:
						dd {{ctrl.char.age}} years old ({{ctrl.char.ageMin}}/{{ctrl.char.ageMax}})
						dt Ability Modifiers:
						dd(ng-repeat="(key, value) in ctrl.char.ability") {{key}}: +{{value}}
						dt Racial Traits:
						dd(ng-repeat="(key, value) in ctrl.char.racials track by $index")
							button.btn.btn-xs.btn-default(type="button" data-toggle="collapse" data-target="#raRacialText{{$index}}").
								#[strong !{key}] - Click for Details
							.collapse(id="raRacialText{{$index}}") {{value}}
			//- Profiency panel
			.panel.panel-primary
				.panel-heading
					label Profiencies
				.panel-body
					dl.dl-horizontal
						dt Skills:
						dd(ng-repeat="skill in ctrl.char.skills track by $index") {{skill}}
						dt Tools:
						dd(ng-hide="ctrl.char.tools[0]") none
						dd(ng-show="ctrl.char.tools[0]" ng-repeat="tool in ctrl.char.tools track by $index") {{tool}}
			//- Other panel
			.panel.panel-primary
				.panel-heading
					label Other
				.panel-body
					dl.dl-horizontal
						dt Extra Languages:
						dd(ng-repeat="language in ctrl.char.languages track by $index") {{language}}
						dt Equipment:
						dd(ng-repeat="item in ctrl.char.equipment track by $index") {{item}}