html(ng-app="app")

	head
		meta(charset="UTF-8")
		title 5th Edition Character Creator
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/site.css")
	body
		//- Open Site Container
		.container-fluid
			.fade.panel.panel-default
				.panel-body
					//- Custom directive
					myhome
				.panel-footer
					small This tool uses #[a(href="https://angularjs.org/") Angular.js], #[a(href="http://chancejs.com/") Chance.js], #[a(href="https://jquery.com/") jQuery], #[a(href="http://getbootstrap.com/") Bootstrap], #[a(href="http://stylus-lang.com/") Stylus], #[a(href="http://gulpjs.com/") Gulp.js]
		//- JS libs: Vendor
		script(src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.3/chance.min.js")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
		//- JS libs: Custom
		script(src="js/config/init.js")
		script(src="js/services/DataService.js")
		script(src="js/services/CharacterService.js")
		script(src="js/components/home/home-directive.js")
		script(src="js/components/home/home-controller.js")